body {
	font-family: Arial, Helvetica, sans-serif;
	background-image:url('Images/background.jpg');
	text-align:center;
}

 #frame {
 width:1000px;
 margin-right:auto;
 margin-left:auto;
 text-align:center;
 }

#left {
	float:left;
    width:100px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 40px;
	background : #fff;
	padding : 10px 10px 10px 10px;
	height : 600px;
	border : 1px solid #ccc;
	margin-right : 10px;
	position: relative
}

#left img{
 border : 0px;
 vertical-align:text-top; 
 }

#logo {
	float:top;
    width:100px;
    text-align: center;
	font-size : 14px;
	line-height: 15px;
    font-family: Arial, Helvetica, sans-serif;
	border : 0px;
}

#logout{
	position:absolute;
	bottom:0;
    width:100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
	border : 0px;
}

#logout a:link, #logout a:visited	{
	color : #000;
	font-size : 16px;
	font-weight : normal;
	text-decoration : none;
}

#main {
 width:800px;
 padding-right:10px;
 float:left;
 margin:0px;
 text-align: left;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 16px;
 line-height: 20px;
 text-indent:0px;
 color: #666;
}

#main img{
 border : 0px;
 vertical-align:text-top; 
 }
 
#menu {
	border-bottom : 0px solid #ccc;
	margin : 0;
	padding-bottom : 44px;
	padding-left : 10px;
}
 
#menu ul, #menu li	{
	display : inline;
	list-style-type : none;
	margin : 0;
	padding : 0;
}

#menu img{
 border : 0px;
 vertical-align:text-top; 
 }
	
#menu a:link, #menu a:visited	{
	background : #E8EBF0;
	border : 1px solid #ccc;
	color : #666;
	float : left;
	font-size : 16px;
	font-weight : normal;
	line-height : 32px;
	margin-right : 8px;
	padding : 2px 10px 8px 10px;
	text-decoration : none;
}
 
#menu a:link.active, #menu a:visited.active	{
	background : #fff;
	border-bottom : 1px solid #fff;
	color : #000;
}
 
#menu a:hover	{
	color : #339;
}
 
	
body.section-1 #menu li#nav-1 a, 
body.section-2 #menu li#nav-2 a,
body.section-3 #menu li#nav-3 a,
body.section-4 #menu li#nav-4 a {
	background : #fff;
	border-bottom : 1px solid #fff;
	color : #000;
}
 
#menu #subnav-1,
#menu #subnav-2,
#menu #subnav-3,
#menu #subnav-4 {
	display : none;
	width: 80%;
}
 
body.section-1 #menu ul#subnav-1, 
body.section-2 #menu ul#subnav-2,
body.section-3 #menu ul#subnav-3,
body.section-4 #menu ul#subnav-4 {
	display : inline;
	left : 10px;
	position : absolute;
	top : 95px;
}
 
body.section-1 #menu ul#subnav-1 a, 
body.section-2 #menu ul#subnav-2 a,
body.section-3 #menu ul#subnav-3 a,
body.section-4 #menu ul#subnav-4 a {
	background : #fff;
	border : none;
	border-left : 1px solid #ccc;
	color : #999;
	font-size : smaller;
	font-weight : bold;
	line-height : 10px;
	margin-right : 4px;
	padding : 2px 10px 2px 10px;
	text-decoration : none;
}
 
 #menu ul a:hover {
	color : #f00 !important;
}
 
#contents {
	background : #fff;
	border : 1px solid #ccc;
	border-top : none;
	clear : both;
	margin : 0px;
	padding-top : 15px;
	padding-left : 15px;
	height : 555px;
	font-size: 10px;
	line-height: 15px;
}
