body {
	font-family: Georgia;
	font-size: 12px;
}

#contents {
	background : #fff;
	border : none;
	clear : both;
	margin : 0px;
	padding-top : 15px;
	padding-left : 15px;
}
#contents a:link {
		color: #339;
		font-weight: normal;
		text-decoration: underline;
		}
#contents a:visited {
		color: #339;
		font-weight: normal;
		text-decoration: underline;
		}