body {
 /*text-align:center;*/
 margin-top:0px;
 margin-bottom:0px;
 background: url(../images/body-bkg.png) repeat scroll;
 font: Georgia;
 font-size: 12px;
}

 #frame {
 width:750px;
 padding-top: 10px;
 margin-right:auto;
 margin-left:auto;
 text-align:center;
 border-left: 0px solid #999;
 border-bottom: 0px solid #999;
 border-right: 0px solid #999;
 height: 560px;
 }

 #bottom{
 float:left;
 width:750px;
 height:40px;
 margin:0px;
 padding:0px;
 text-align: center;
 font-family: Georgia;
 font-size: 12px;
 font-weight:normal;
 line-height: 40px;
 text-indent:10px;
 color: #fff;
 /*background: #D6D6EA;*/
 background: #339;
}
 
/* ######### CSS for Indented CSS Tabs. Remove if not using ######### */


.indentmenu{
font-weight:bold;
width: 100%; /*leave this value as is in most cases*/
}

.indentmenu ul{
margin: 0;
padding: 0;
float: left;
/* width: 80%; width of menu*/
border-top: 1px solid #343399; /*darkred border*/
background: black url(indentbg.gif) center center repeat-x;
}

.indentmenu ul li{
display: inline;
}

.indentmenu ul li a{
float: left;
color: #292C62; /*text color*/
padding: 3px 11px;
text-decoration: none;
border-right: 1px solid #343399; /*darkred divider between menu items*/
border-left: 1px solid #343399;
}

.indentmenu ul li a:visited{
color: #292C62;
}

.indentmenu ul li a.selected{
color: white !important;
padding-top: 4px; /*shift text down 1px*/
padding-bottom: 2px;
background: black url(indentbg2.gif) center center repeat-x;
}